
.idea/workspace.xml
.idea/vcs.xml
.idea/Curso-De-Python-3.iml
.idea/discord.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
Mundo 3/ex107/__pycache__/moeda.cpython-38.pyc
Mundo 3/ex108/__pycache__/moeda.cpython-38.pyc
