
.idea/workspace.xml
.idea/vcs.xml
.idea/Curso-De-Python-3.iml
.idea/discord.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
Mundo 3/ex107/__pycache__/moeda.cpython-38.pyc
Mundo 3/ex108/__pycache__/moeda.cpython-38.pyc
Mundo 3/ex109/__pycache__/moeda.cpython-38.pyc
Mundo 3/ex110/__pycache__/moeda.cpython-38.pyc
Mundo 3/ex111/__pycache__/ex111.cpython-38.pyc
Mundo 3/ex111/utilidadesCeV/__pycache__/__init__.cpython-38.pyc
Mundo 3/ex111/utilidadesCeV/moeda/__pycache__/__init__.cpython-38.pyc
*.pyc
